<h1 class="mat-h1">Új könyv hozzáadása</h1>
<form [formGroup]="form" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-content>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Könyvtári azonosító" formControlName="recordIdentifier">
            <mat-error *ngIf="form.controls['recordIdentifier'].hasError('required')">
              A könyvtári azonosítót <strong>kötelező</strong> megadni!
            </mat-error>
            <mat-error *ngIf="form.controls['recordIdentifier'].hasError('maxlength')">
              A könyvtári azonosító <strong>túl hosszú</strong>!
              (maximum {{form.controls['recordIdentifier'].errors['maxlength'].requiredLength}} karater lehet)
            </mat-error>
            <mat-error *ngIf="form.controls['recordIdentifier'].hasError('minlength')">
              A könyvtári azonosító <strong>túl rövid</strong>!
              (minimum {{form.controls['recordIdentifier'].errors['minlength'].requiredLength}} karater kell legyen)
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Cím" formControlName="title">
            <mat-error *ngIf="form.controls['title'].hasError('required')">
              A cím <strong>kötelező</strong>!
            </mat-error>
            <mat-error *ngIf="form.controls['title'].hasError('maxlength')">
              A cím <strong>túl hosszú</strong>!
              (maximum {{form.controls['title'].errors['maxlength'].requiredLength}}  karater lehet)
            </mat-error>
            <mat-error *ngIf="form.controls['title'].hasError('minlength')">
              A cím <strong>túl rövid</strong>!
              (minimum {{form.controls['title'].errors['minlength'].requiredLength}} karater kell legyen)
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Szerző" formControlName="author">
            <mat-error *ngIf="form.controls['author'].hasError('required')">
              A szerző <strong>kötelező</strong>!
            </mat-error>
            <mat-error *ngIf="form.controls['author'].hasError('maxlength')">
              A szerző <strong>túl hosszú</strong>!
              (maximum {{form.controls['author'].errors['maxlength'].requiredLength}}  karater lehet)
            </mat-error>
            <mat-error *ngIf="form.controls['author'].hasError('minlength')">
              A szerző <strong>túl rövid</strong>!
              (minimum {{form.controls['author'].errors['minlength'].requiredLength}} karater kell legyen)
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Kiadás dátuma</mat-label>
            <input matInput [matDatepicker]="picker" formControlName='releaseDate'>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="form.controls['releaseDate'].hasError('required')">
              A kiadás dátumát <strong>kötelező</strong> megadni!
            </mat-error>
          </mat-form-field>
        </div>
      </div>

    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>